/* Stylesheet by Adam Mandelman, 2016 */

#map {
    height: 600px;
    width: 73%;
    display: inline-block;    
}

#panel {
    width: 22%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.whooping {
    background-color: rgba(33, 225, 241, 0.4);
    display:inline-block;
    
    float:left;
    margin: 0px 1px;
}

.measles {
    background-color: rgba(191, 1, 16, 0.6);
    float:left;
    margin: 0px 1px;
}

.mumps {
    background-color: rgba(162, 54, 255, 0.6);
    float:left;
    margin: 0px 1px;
}

.pox {
    background-color: rgba(240, 232, 35, 0.8);
    float:left;
    margin: 0px 1px;
}

.range-slider {
    width: 68%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}


.leaflet-popup-content p {
    margin: 0.2em 0;
}


